<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body data-ng-app="main" data-ng-controller="ctrl_main" data-ng-init="initializeDataStructures()">
<div class="designAreaTabs">
    <button class="designAreaTab" ng-repeat="object in objects track by $index" data-ng-click="designDisplayObjectPage(object)">{{object.name}}</button>
    <br><button class="designAreaTab" data-ng-click="designDisplayBehaviorPage()">F></button>
</div>

<div class="designAreaButtons" data-ng-show="showBehaviors">
    <button class="draggableButton" ng-repeat="behavior in behaviors track by $index" data-ng-click="performBehaviorAction(behavior)">{{behavior.name}}</button><br>
</div>
<div class="designAreaButtons" data-ng-show="showInstance" data-ng-init="vals=[]">
    {{currentInstance.name}}<hr>
    <div data-ng-repeat="attr in currentInstance.attributes track by $index">
        {{index}} {{attr.name}} : <input type="text" data-ng-model="vals[$index]"><br>
    </div>
    <button class="draggableButton" data-ng-click="addInstance()">Add</button><hr>
    Index:<input type="text" data-ng-model="idToRemove"><br>
    <button class="draggableButton" data-ng-click="removeInstance(idToRemove)">Remove</button>
    <hr>
    <table style="width: 100%" border="1px">
        <tr>
            <th style="width: 10%">Idx</th>
            <th data-ng-repeat="attr in currentInstance.attributes track by $index">
                {{attr.name}}
            </th>
        </tr>
        <tr data-ng-repeat="instance in instances[currentInstance.name] track by $index">
            <td>{{$index}}</td>
            <td data-ng-repeat="val in instance track by $index">
                {{val}}
            </td>
        </tr>

    </table>
</div>
<div class="designAreaOutput">
    <label class="designAreaOutputLabel"><b>OUTPUT</b>:{{emulatorOutput}}</label>
</div>
</body></html>