<html>
<head>
    <title>hAPPi - Human - Application Interpreter</title>
    <script type="text/javascript" src="http://localhost:5555/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://localhost:5555/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://localhost:5555/lib/angular.min.js"></script>
    <script type="text/javascript" src="http://localhost:5555/lib/qrcode.min.js"></script>
    <script type="text/javascript" src="http://localhost:5555/js/strings.js"></script>
    <script type="text/javascript" src="http://localhost:5555/js/util.js"></script>
    <script type="text/javascript" src="http://localhost:5555/js/index.js"></script>
    <script type="text/javascript" src="http://localhost:5555/js/app.js"></script>
    <script type="text/javascript" src="http://localhost:5555/js/signup.js"></script>
    <script type="text/javascript" src="http://localhost:5555/services/appService.js"></script>
    <script type="text/javascript" src="http://localhost:5555/services/objectService.js"></script>
    <script type="text/javascript" src="http://localhost:5555/services/behaviorService.js"></script>
    <script type="text/javascript" src="http://localhost:5555/services/designService.js"></script>
    <script type="text/javascript" src="http://localhost:5555/services/releaseService.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:5555/css/index.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:5555/lib/bootstrap.min.css">
</head>
<body data-ng-init="initHomePage()" data-ng-app="main" data-ng-controller="ctrl_main">

<div ng-show="areaFlags['frontPage']">
    <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">hAPPi</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="http://localhost:9998/hAPPi/Signup">Sign Up</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
    <h3 style="text-align: center;">Create a New Application</h3><hr style="width: 30%">
    <div class="object-name-input-width col-xs-2 clearFloats appDiv">
        <input data-ng-model="applicationName" type="text" class="form-control newAppName" placeholder="My App Name">
    </div><br>

    <div class="platformChooseArea">
        <h3>Develop For</h3><hr>
        <div ng-switch="switchIosImg==1">
            <div class="imgDivWidth imgMarginLeft" ng-switch-when=true>
                <img data-ng-click="toggleIos()" class="phoneImg" src="http://localhost:5555/img/{{iosImg}}">
            </div>
            <div class="imgDivWidth imgMarginLeft" ng-switch-when=false>
                <img data-ng-click="toggleIos()" class="phoneImgEnabled" src="http://localhost:5555/img/{{iosImgEnable}}">
            </div>
        </div>

        <div ng-switch="switchAndroidImg==1">
            <div class="imgDivWidth" ng-switch-when=true>
                <img data-ng-click="toggleAndroid()" class="phoneImg" src="http://localhost:5555/img/{{androidImg}}">
            </div>
            <div class="imgDivWidth" ng-switch-when=false>
                <img data-ng-click="toggleAndroid()" class="phoneImgEnabled" src="http://localhost:5555/img/{{androidImgEnable}}">
            </div>
        </div>

        <div class="clearFloats" ng-switch="switchWindowsImg==1">
            <div class="imgDivWidth" ng-switch-when=true>
                <img data-ng-click="toggleWindows()" class="phoneImg" src="http://localhost:5555/img/{{windowsImg}}">
            </div>
            <div class="imgDivWidth" ng-switch-when=false>
                <img data-ng-click="toggleWindows()" class="phoneImgEnabled" src="http://localhost:5555/img/{{windowsImgEnable}}">
            </div>
        </div>
    </div>
    <span class="btn btn-primary btn-block" data-ng-click="addApplication()">Start</span>
    <hr>
    <div class="panel panel-success container-fluid" data-ng-show="DEBUG">
        <label data-ng-model="message">DEBUG:  {{message}}</label>
    </div>
    <div>
        <h2 class="floatLeft">Your Apps:</h2>
        <span data-ng-repeat="application in applications track by $index">
            <span class="componentButton" data-ng-click="getApplication(application);menuAddObjects()">
                <span class="textInButton">{{application.name}}</span>
                <span class='componentButtonControl componentButtonControlDelete' data-ng-click="deleteApplication($event, application)"></span>
                <span class="componentButtonControl componentButtonControlEdit" data-ng-click="editApplicationDetails($event, application)"></span>
            </span>
        </span>
    </div>
</div>

<nav class="navbar navbar-inverse" ng-hide="areaFlags['frontPage']" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" data-ng-click="backToMain()" href="#">hAPPi</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="http://localhost:9998/hAPPi/Signup">Sign Up</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
    <nav class="nav nav-tabs secondMenu" data-ng-show="areaFlags['menuArea']">
        <ul class="nav nav-tabs">
            <li class="navbar-left menuButton"><a href="#" data-ng-click="menuButtons[0].function()">{{menuButtons[0].label}}</a></li>
            <li class="navbar-left menuButton"><a href="#" data-ng-click="menuButtons[1].function()">{{menuButtons[1].label}}</a></li>
            <li class="navbar-left menuButton"><a href="#" data-ng-click="menuButtons[2].function()">{{menuButtons[2].label}}</a></li>
        </ul>
    </nav>
</nav>

<div class="workArea" ng-hide="areaFlags['frontPage']">
    <div class="workAreaComponent centralArea" data-ng-show="areaFlags['centralArea']">
        <div class="centralAreaComponent" data-ng-show="areaFlags['objectEditArea']">
            <form class="editArea" data-ng-submit="editObject()">
                <div class="form-group">
                    <label>Name:</label>
                    <input data-ng-model="objectName" class="form-control" placeholder={{currentObject.name}}>
                </div>
                <hr/>
                <div class="form-group" data-ng-init="all_attrs=currentObject.attributes">
                    <label>Attributes:</label>
                    <br>
                    <div data-ng-repeat="n in [].constructor(getNumOfAttributes()) track by $index" data-ng-init="all_attrs[$index]={name:all_attrs[$index].name, type:all_attrs[$index].type}">
                        {{$index + 1}}.
                        Name:
                        <input type="text" placeholder="Enter Attribute name" data-ng-model="all_attrs[$index].name" title="Attribute" data-ng-init="all_attrs[$index].type=basic_types[0]">
                        Type:
                        <select data-ng-model="all_attrs[$index].type" ng-options="i for i in basic_types" title="Type"></select>
                        <br>
                    </div>
                </div>
                <div class="addFormFieldsButton" data-ng-click="addAttribute()"></div>
                <hr/>
                <div class="form-group" data-ng-init="all_acts_Object=currentObject.actions">
                    <label>Actions:</label>
                    <br>
                    <div data-ng-repeat="n in [].constructor(getNumOfObjectActions()) track by $index">
                        {{$index + 1}}.
                        Name: <input type="text" data-ng-model="all_acts_Object[$index].name" title="Action Name">
                        <br>
                        Choose Attribute:
                        <select ng-model="all_acts_Object[$index].operand1" ng-options="i.name for i in all_attrs" title="Operand1"></select>
                        <br>
                        Choose Action:&nbsp;&nbsp;&nbsp;&nbsp;
                        <select ng-model="all_acts_Object[$index].operator" ng-options="i for i in operators" title="Operator"></select>
                        <br>
                        Choose Number:
                        <input type="text" ng-model="all_acts_Object[$index].operand2" title="Operand2">
                        <br><br>
                    </div>
                    <div class="addFormFieldsButton" data-ng-click="addActionObject()"></div>
                    <hr>
                </div>
                <button type="submit">Edit Object</button>
            </form>
        </div>
        <div class="centralAreaComponent" data-ng-show="areaFlags['behaviorEditArea']">
            <form class="editArea" data-ng-submit="editBehavior()">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" data-ng-model="behaviorName" class="form-control" placeholder={{currentBehavior.name}}>
                </div>
                <hr/>
                <div class="from-group">
                    Action:
                    <br>
                    <select ng-model="all_acts_Behavior[getNumOfBehaviorActions()].operandObject"
                            ng-options="item as item.name for item in applications[currentApplication.id].objects" title="operandObject"></select>
                    <select ng-model="all_acts_Behavior[getNumOfBehaviorActions()].operator" ng-options="i for i in behaviorOperators"
                            title="Operator"></select>
                    <select ng-model="all_acts_Behavior[getNumOfBehaviorActions()].operandAttribute"
                            ng-options="item as item.name for item in all_acts_Behavior[getNumOfBehaviorActions()].operandObject.attributes.concat(all_acts_Behavior[getNumOfBehaviorActions()].operandObject.actions)"
                            title="operandAttribute" ></select>
                </div>
                <hr>
                <div class="form-group" data-ng-init="all_conditions=[]">
                    <label>Conditions:</label>
                    <br>
                    <div data-ng-repeat="n in [].constructor(getNumOfConditions()) track by $index">
                        <form class="editArea" ng-init="all_conditions[$index] = {attribute:'',logicOperation:'',value:''}">
                            {{$index + 1}}.
                            Choose Attribute:
                            <select ng-model="all_conditions[$index].attribute"
                                    ng-options="item as item.name for item in all_acts_Behavior[getNumOfBehaviorActions()].operandObject.attributes.concat(all_acts_Behavior[getNumOfBehaviorActions()].operandObject.actions)"
                                    title="operandAttribute" ></select>
                            <br>
                            Choose Logic Operation:
                            <select ng-model="all_conditions[$index].logicOperation"
                                    ng-options="i for i in logicOperations"
                                    title="logicOperation"></select>
                            <br>
                            Choose Value:
                            <input type="text" ng-model="all_conditions[$index].value" title="value">
                            <br>
                            <br>
                        </form>
                    </div>
                    <div class="addFormFieldsButton" data-ng-click="addCondition()"></div>
                </div>
                <button type="submit">Edit Behavior</button>
            </form>
        </div>

        <div class="centralAreaComponent" data-ng-show="areaFlags['objectsAddArea']">
            <div class="componentMainTitle">
                Objects
            </div>
            <span class="btn btn-primary btn-block" data-ng-click="addNewObject()">new object</span>
            <div data-ng-show="showNoMembersImage && !applications[currentApplication.id].objects.length"><img class="noMembersImage" src="http://localhost:5555/img/no_objects.png"></div>
            <span data-ng-repeat="object in applications[currentApplication.id].objects track by $index">
                <span class="componentButton" data-ng-click="showObjectDetails(object)">
                    <span class="textInButton">{{object.name}}</span>
                    <span class='componentButtonControl componentButtonControlDelete' data-ng-click="deleteObject(object)"></span>
                   <span class='componentButtonControl componentButtonControlEdit' data-ng-click="editObjectDetails($event, object)"></span>
                </span>
            </span>
            <hr>
            <div class="mergeLeft" data-ng-show="areaFlags['objectCreateArea']">
                <form>
                    <div class="form-group">
                        <label>Name:</label>
                        <input data-ng-model="objectName" class="form-control" data-ng-init="objectName=''" placeholder="Enter Object name">
                    </div>
                    <div class="form-group" data-ng-init="all_attrs=[]">
                        <label>Attributes:</label>
                        <br>
                        <div data-ng-repeat="n in [].constructor(getNumOfAttributes()) track by $index" data-ng-init="all_attrs[$index]={name:'', type:''}">
                            {{$index + 1}}.
                            Name:
                            <input type="text" placeholder="Enter Attribute name" data-ng-model="all_attrs[$index].name" title="Attribute" data-ng-init="all_attrs[$index].type=basic_types[0]">
                            Type:
                            <select data-ng-model="all_attrs[$index].type" ng-options="i for i in basic_types" title="Type"></select>
                            <br>
                        </div>
                    </div>
                    <div class="addFormFieldsButton" data-ng-click="addAttribute()"></div>
                    <hr/>
                    <div class="form-group" data-ng-init="all_acts_Object=[]">
                        <label>Actions:</label>
                        <br>
                        <div data-ng-repeat="n in [].constructor(getNumOfObjectActions()) track by $index">
                            <form class="editArea" data-ng-submit="addNewAction()"
                                  ng-init="all_acts_Object[$index] = {name:'',operand1:'',operator:'',operand2:''}">
                                {{$index + 1}}.
                                Name: <input type="text" data-ng-model="all_acts_Object[$index].name" title="Action Name" data-ng-init="all_acts_Object[$index].operator=operators[0]">
                                <br>
                                Choose Attribute:
                                <select ng-model="all_acts_Object[$index].operand1" ng-options="i.name for i in all_attrs" title="Operand1"></select>
                                <br>
                                Choose Action:&nbsp;&nbsp;&nbsp;&nbsp;
                                <select ng-model="all_acts_Object[$index].operator" ng-options="i for i in operators" title="Operator"></select>
                                <br>
                                Choose Number:
                                <input type="text" ng-model="all_acts_Object[$index].operand2" title="Operand2">
                                <br><br>
                            </form>
                        </div>
                        <div class="addFormFieldsButton" data-ng-click="addActionObject()"></div>
                        <hr>
                    </div>
                    <span class="btn btn-primary btn-block" data-ng-click="addObject()">Create Object</span>
                    <br>
                </form>
            </div>
        </div>
        <div class="centralAreaComponent" data-ng-show="areaFlags['behaviorAddArea']">
            <div class="componentMainTitle">
                Behavior
            </div>
            <span class="btn btn-primary btn-block" data-ng-click="addNewBehavior()">new behavior</span>
            <div data-ng-show="showNoMembersImage && !applications[currentApplication.id].behaviors.length"><img class="noMembersImage" src="http://localhost:5555/img/no_behaviors.png"></div>
            <span data-ng-repeat="behavior in applications[currentApplication.id].behaviors track by $index">
                <span class="componentButton" data-ng-click="showBehaviorDetails(behavior)">
                    <span class="textInButton">{{behavior.name}}</span>
                    <span class='componentButtonControl componentButtonControlDelete' data-ng-click="deleteBehavior(behavior)"></span>
                    <span class='componentButtonControl componentButtonControlEdit' data-ng-click="editBehaviorDetails($event, behavior)"></span>
                </span>
            </span>
            <div class="mergeLeft" data-ng-show="areaFlags['behaviorCreateArea']">
                <form role="form">
                    <br>
                    Name: <input type="text" data-ng-model="behaviorName" title="Behavior Name"><hr>
                    Action:
                    <br>
                    <select ng-model="all_acts_Behavior[getNumOfBehaviorActions()].operandObject"
                            ng-options="item as item.name for item in applications[currentApplication.id].objects" title="operandObject"></select>
                    <select ng-model="all_acts_Behavior[getNumOfBehaviorActions()].operator" ng-options="i for i in behaviorOperators"
                            title="Operator"></select>
                    <select ng-model="all_acts_Behavior[getNumOfBehaviorActions()].operandAttribute"
                            ng-options="item as item.name for item in all_acts_Behavior[getNumOfBehaviorActions()].operandObject.attributes.concat(all_acts_Behavior[getNumOfBehaviorActions()].operandObject.actions)"
                            title="operandAttribute" ></select>
                    <hr>
                    <div class="form-group" data-ng-init="all_conditions=[]">
                            <label>Conditions:</label>
                            <br>
                            <div data-ng-repeat="n in [].constructor(getNumOfConditions()) track by $index">
                             <form class="editArea" ng-init="all_conditions[$index] = {attribute:'',logicOperation:'',value:''}">
                                    {{$index + 1}}.
                                Choose Attribute:
                                <select ng-model="all_conditions[$index].attribute"
                                        ng-options="item as item.name for item in all_acts_Behavior[getNumOfBehaviorActions()].operandObject.attributes.concat(all_acts_Behavior[getNumOfBehaviorActions()].operandObject.actions)"
                                        title="operandAttribute" ></select>
                                <br>
                                Choose Logic Operation:
                                <select ng-model="all_conditions[$index].logicOperation"
                                        ng-options="i for i in logicOperations"
                                        title="logicOperation"></select>
                                <br>
                                Choose Value:
                                <input type="text" ng-model="all_conditions[$index].value" title="value">
                                <br>
                                <br>
                            </form>
                        </div>
                        <div class="addFormFieldsButton" data-ng-click="addCondition()"></div>
                    </div>
                    <br><br>
                    <span class="btn btn-primary btn-block" data-ng-click="addBehavior()">Create Behavior</span>
                </form>
            </div>
        </div>
        <div class="centralAreaComponent releaseArea" ng-show="areaFlags['releaseArea']">
            <div class="componentMainTitle">
                Release
            </div>
            <div class="draggableButton" data-ng-click="releaseBuildApplication(currentApplication)">
                <b>Build {{currentApplication.name}}</b>
            </div>
            <div id="appQRImage" data-ng-show="getApplicationBuilt()"></div>
        </div>
    </div>

    <div class="workAreaComponent sideArea" data-ng-show="areaFlags['sideArea']">
       <!-- <div class="sideAreaComponent" data-ng-show="areaFlags['behaviorDetailsArea']">
            <div class="componentMainTitle">{{currentBehavior.name}}</div>
            <div class="componentListTitle">Actions:</div>&lt;!&ndash;TODO The edit area&ndash;&gt;
            <div ng-repeat="act in currentBehavior.actions track by $index">
                <div class="componentListEntry">{{act.operator + " " + act.operandAttribute.name + "s in " + act.operandObject.name + " object"}}</div>
            </div>
            <div class="componentListTitle">Conditions:</div>
            <div data-ng-repeat="cond in currentBehavior.all_conditions track by $index">
                <div class="componentListEntry">{{cond.attribute.name + " " + cond.logicOperation + " " + cond.operandObject.value}}</div>
            </div>
            <hr>
        </div>-->
        <div class="sideAreaComponent" data-ng-show="areaFlags['applicationDetailsArea']">
            <div class="componentMainTitle">{{currentApplication.name}}</div>
            <div class="componentListTitle">Platforms:</div>
            <div class="componentListEntry" ng-repeat="platform in currentApplication.platforms track by $index">
                {{platform}}
            </div>
        </div>
        <div class="sideAreaComponent" data-ng-show="areaFlags['applicationCreateArea']">
            <form class="editArea" data-ng-submit="addApplication()">
                Name: <input type="text" data-ng-model="applicationName" title="Application Name">
                <hr>
                <input type="checkbox" name="platform" value="android" data-ng-model="android" title="android"> Android<br>
                <input type="checkbox" name="platform" value="ios" data-ng-model="ios" title="ios"> iOS<br>
                <input type="checkbox" name="platform" value="windowsPhone" data-ng-model="windowsPhone" title="wp"> Windows Phone<br>
                <button type="submit">Create Application</button>
            </form>
        </div>
        <div class="sideAreaComponent" data-ng-show="areaFlags['applicationEditArea']">
            <form class="editArea" data-ng-submit="editApplication()">
                Name: <input type="text" data-ng-model="applicationName" title="Application Name">
                <hr>
                <input type="checkbox" name="platform" value="android" data-ng-model="android" title="android"> Android<br>
                <input type="checkbox" name="platform" value="ios" data-ng-model="ios" title="ios"> iOS<br>
                <input type="checkbox" name="platform" value="windowsPhone" data-ng-model="windowsPhone" title="wp"> Windows Phone<br>
                <button type="submit">Edit Application</button>
            </form>
        </div>
        <div class="centralAreaComponent designArea" data-ng-init="refreshIframe()">
            <div class="componentMainTitle">
                Preview
            </div>
            <div id="emulatedCode" class="designAreaEmulator designAreaGrid">
                <nav class="navbar navbar-inverse designAreaTabs" >
                    <div class="container-fluid ">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" data-ng-click="designDisplayBehaviorPage()">{{applications[currentApplication.id].name}}</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right" >
                            <li data-ng-repeat="object in applications[currentApplication.id].objects track by $index" ><a href="#" data-ng-click="designDisplayObjectPage(object)">{{object.name}}</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="designAreaButtons" data-ng-show="getShowBehaviors()">
                    <button class="btn btn-primary btn-block" ng-repeat="behavior in applications[currentApplication.id].behaviors track by $index" data-ng-click="performBehaviorAction(behavior)">{{behavior.name}}</button><br>
                </div>
                <div class="designAreaButtons" data-ng-show="getShowInstance()" data-ng-init="attribute_values=[]">
                    <form class="form-horizontal" role="form" data-ng-repeat="attr in getCurrentInstance().attributes track by $index">
                        <input type="text" class="form-control" placeholder="{{attr.name}}" data-ng-model="attribute_values[$index]">
                    </form>
                    <button class="btn btn-primary btn-block" data-ng-click="addInstance()">Add</button><hr>
                    <input type="text" class="form-control" placeholder="Index to Remove" data-ng-model="idx">
                    <button class="btn btn-primary btn-block" data-ng-click="removeInstance(idx)">Remove</button>
                    <hr>
                    <table class="table" style="width: 100%">
                        <tr>
                            <th style="width: 10%">Idx</th>
                            <th data-ng-repeat="attr in getCurrentInstance().attributes track by $index">
                                {{attr.name}}
                            </th>
                        </tr>
                        <tr data-ng-repeat="instance in instances[getCurrentInstance().name] track by $index">
                            <td>{{$index}}</td>
                            <td data-ng-repeat="val in instance track by $index">
                                {{val}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="navbar navbar-inverse designAreaOutput">
                    <label class="designAreaOutputLabel">OUTPUT > <br>{{getOutput()}}</label>
                </div>
            </div>
        </div>
        <div class="sideAreaComponent" ng-show="areaFlags['designArea']">
        </div>
    </div>
</div>

</body>
</html>