body{
    background-color: white;
    overflow: hidden;
}

.workArea{
    position: absolute;
    height: 100%;
    width: 100%;
}

.workAreaComponent{
    float: left;
    width: 12%;
    background-color: white;
}

.centralArea{
    width: 62%;
    height: 80%;
}

.sideArea{
    width: 38%;
    height: 80%;
}

.centralAreaComponent{
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: white inset thin;
    border-left: white inset thin;
    border-bottom: none;
    border-top: none;
}

.designArea{
    background-color: grey;
    overflow: hidden;
}

.designAreaEmulator{
    position: absolute;
    top: 8%;
    left: 20%;
    width: 60%;
    height: 90%;
    display: inline-block;
    z-index: 1;
}

.designAreaTopMenu {
    position: relative;
    height: 10%;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.designAreaPage {
    position: relative;
    height: 80%;
    top: -3%;
    left: 0;
    background: white;
    z-index: 2;
    overflow-x: hidden;
}

.designAreaOutput{
    position: relative;
    height: 10%;
    top: -3%;
    left: 0;
    z-index: 2;
    overflow: hidden;
}

.designAreaOutputLabel{
    color: skyblue;
}

.componentButton{
    display: inline-block;
    position: relative;
    background: #7aba7b;
    margin-left: 4%;
    margin-top: 4%;
    width: 80px;
    height: 80px;
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
    overflow: hidden;
    cursor: pointer;
}
.textInButton{
    top: 20px;
    position: relative;
    text-align: center;
}

.componentButtonControl {
    height: 2%;
}

.addFormFieldsButton{
    left: 2%;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    background: transparent url("http://localhost/img/plus-icon.png") no-repeat center;
    background-size: contain;
    display: inline-block;
    min-width: 2%;
    min-height: 2%;
    max-width: 2%;
    max-height: 2%;
    cursor: hand;
}

.removeFormFieldsButton{
    text-align: center;
    background: transparent url("http://localhost/img/minus-icon.png") no-repeat center;
    background-size: contain;
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    cursor: hand;
}

.componentMainTitle{
    position: relative;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: white;
}

.componentListTitle{
    position: relative;
    top:1%;
    color: black;
    font-size: inherit;
    font-family: inherit;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    background-color: lightblue;
    padding-left: 1%;
}

.componentListEntry{
    position: relative;
    top:1%;
    left: 2%;
    color: black;
    font-size: inherit;
    font-family: inherit;
    background-color: lightgrey;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    padding-left: 1%;
    margin: 1%;
    width: 90%;
}

.mergeLeft {
    margin-left : 10px;
}

.object-name-input-width{
    left: 42.2%;
}

.imgDivWidth{
    width : 15%;
    float: left;
}

@keyframes enable {
    from {width: 40%;}
    to {width: 50%;}
}

@keyframes disable {
    from {width: 50%;}
    to {width: 40%;}
}

.phoneImg{
    animation-name: disable;
    animation-duration: 0.25s;
    width: 40%;
    cursor: hand;
}

.phoneImgEnabled{
    animation-name: enable;
    animation-duration: 0.25s;
    width: 50%;
    cursor: hand;
}

.imgMarginLeft{
    margin-left: 27.5%;
}

.platformChooseArea{
    height: 40%;
    text-align: center;
}

div.clearFloats{
    float: initial;
}

.clearFloats:after {
    content: '';
    display: block;
    clear: both;
}

input.newAppName{
    float: left;
    width: 60%;
    font-size:18px;
    text-align: center;
}

div.appDiv{
    width: 25%;
    height: 5%;
}

span.addAppButton{
    height: 34px;
    width: 34px;
    margin-top: 0;
}

.floatLeft{
    float: left;
}

.noMembersImage{
    text-wrap: normal;
    width: 30%;
    margin-left: 35%;

}

.applicationsList{
    width: 30%;
    margin-left: 35%;
}

.applicationEditArea{
    width: 100%;
    /*background-color: #ffffee;*/
}

.itemList{
    width: 100%;
    display: inline-block;
}

.menuTab{
    color: black;
    font-size: 16px;
}

.checkbox{
    margin-left: 10px;
    width: 30%;
}

.checkboxIcon{
    background-size: 50%;
    height: 50px;
    width: 50px;
    padding: 0 0 0 0;
    cursor: hand;
}
.debug{
    position: absolute;
    height: 3%;
    top: 92%;
    width: 100%;
}

.btn-app-list{
    width: 100%;
    margin-left: 5px;
}

.applicationTitle{
    font-size: 16px;
    font-weight: bold;
}

.loadingCircle{
    background-color: rgba(0,0,0,0);
    border: 3px solid rgba(0, 9, 12, 0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    margin: 0 auto;
    animation: spin .5s infinite linear;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.loadingCircleOff{

}

.smallBlackLoadingCircle{
    width: 20px;
    height: 20px;
}


.largeBlackLoadingCircle{
    width: 50px;
    height: 50px;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

.mainLoginForm{
    border: darkgray solid thin;
    border-radius: 6%;
    padding: 5%;
}

.mainSignupForm{
    border: darkgray solid thin;
    border-radius: 6%;
    padding: 5%;
}

.formInput{
    padding: 1%;
}

.formInput10{
    width: 10%;
}

.formInput15{
    width: 15%;
}

.formInput20{
    width: 20%;
}

.formInput35{
    width: 35%;
}

.formInput40{
    width: 40%;
}

.formInput60{
    width: 40%;
}

.formInput80{
    width: 80%;
}

.appReleaseSquare{
    border: solid dodgerblue thick;
    box-shadow: 0 0 20px 0 #1769B9;
    /*margin-left: 40%;*/
    /*width: 22.4%;*/
    /*padding-top: 30%;*/
}