body{
    background-color: white;
    overflow: hidden;
}

.workArea{
    position: absolute;
    height: 100%;
    width: 100%;
}

.workAreaComponent{
    float: left;
    width: 12%;
    background-color: white;
}

.centralArea{
    width: 62%;
    height: 80%;
}

.sideArea{
    width: 38%;
    height: 80%;
}

.centralAreaComponent{
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: white inset thin;
    border-left: white inset thin;
    border-bottom: none;
    border-top: none;
}

.designArea{
    background-color: grey;
    overflow: hidden;
}

.designAreaEmulator{
    position: absolute;
    top: 8%;
    left: 20%;
    width: 60%;
    height: 90%;
    display: inline-block;
    z-index: 1;
}

.designAreaTopMenu {
    position: relative;
    height: 10%;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.designAreaPage {
    position: relative;
    height: 80%;
    top: -3%;
    left: 0;
    background: white;
    z-index: 2;
    overflow-x: hidden;
}

.designAreaOutput{
    position: relative;
    height: 10%;
    top: -3%;
    left: 0;
    z-index: 2;
    overflow: hidden;
}

.designAreaOutputLabel{
    color: skyblue;
}

.componentButton{
    display: inline-block;
    position: relative;
    background: #7aba7b;
    margin-left: 4%;
    margin-top: 4%;
    width: 80px;
    height: 80px;
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
    overflow: hidden;
    cursor: pointer;
}
.textInButton{
    top: 20px;
    position: relative;
    text-align: center;
}

.componentButtonControl {
    height: 2%;
}

.addFormFieldsButton{
    color: green;
    position: relative;
    left: 2%;
    top: 3px;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    background: transparent url("http://localhost:5555/img/plus-icon.png") no-repeat center;
    background-size: contain;
    display: inline-block;
    min-width: 2%;
    min-height: 2%;
    max-width: 2%;
    max-height: 2%;
    cursor: hand;
}

.removeFormFieldsButton{
    color: green;
    position: relative;
    left: 2%;
    top: 3px;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    background: transparent url("http://localhost:5555/img/minus-icon.png") no-repeat center;
    background-size: contain;
    display: inline-block;
    min-width: 2%;
    min-height: 2%;
    max-width: 2%;
    max-height: 2%;
    cursor: hand;
}

.componentMainTitle{
    position: relative;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: white;
}

.componentListTitle{
    position: relative;
    top:1%;
    color: black;
    font-size: inherit;
    font-family: inherit;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    background-color: lightblue;
    padding-left: 1%;
}

.componentListEntry{
    position: relative;
    top:1%;
    left: 2%;
    color: black;
    font-size: inherit;
    font-family: inherit;
    background-color: lightgrey;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    padding-left: 1%;
    margin: 1%;
    width: 90%;
}

.mergeLeft {
    margin-left : 10px;
}

.object-name-input-width{
    left: 42.2%;
}

.imgDivWidth{
    width : 15%;
    float: left;
}

@keyframes enable {
    from {width: 40%;}
    to {width: 50%;}
}

@keyframes disable {
    from {width: 50%;}
    to {width: 40%;}
}

.phoneImg{
    animation-name: disable;
    animation-duration: 0.25s;
    width: 40%;
    cursor: hand;
}

.phoneImgEnabled{
    animation-name: enable;
    animation-duration: 0.25s;
    width: 50%;
    cursor: hand;
}

.imgMarginLeft{
    margin-left: 27.5%;
}

.platformChooseArea{
    height: 40%;
    text-align: center;
}

div.clearFloats{
    float: initial;
}

.clearFloats:after {
    content: '';
    display: block;
    clear: both;
}

input.newAppName{
    float: left;
    width: 60%;
    font-size:18px;
    text-align: center;
}

div.appDiv{
    width: 25%;
}

span.addAppButton{
    height: 34px;
    width: 34px;
    margin-top: 0;
}

.floatLeft{
    float: left;
}

.noMembersImage{
    text-wrap: normal;
    width: 30%;
    margin-left: 35%;

}

.applicationsList{
    width: 30%;
    display: inline-block;
}

.applicationEditArea{
    width: 70%;
}

.objectsList{
    width: 70%;
    display: inline-block;
}

.menuTab{
    color: black;
    font-size: 16px;
}

.checkbox{
    margin-left: 10px;
    width: 30%;
}

.checkboxIcon{
    background-size: 50%;
    height: 50px;
    width: 50px;
    padding: 0 0 0 0;
}
.debug{
    position: absolute;
    height: 3%;
    top: 92%;
    width: 100%;
}